.shop-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    padding-bottom: 100px;
    padding-top: 75px;
    font-size: 48px;
    font-weight: bold;
    color: #f4a727;
    text-align: center;
  }
}
