.checkout-page {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: white;
  height: 100vh;
  padding: 0 30px;
  color: black;

  &__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 70px;
    color: black;
  }

  &__wrapper {
    display: flex;
    gap: 50px;

    &__shipping {
      border: solid 1px rgb(0, 0, 0, 50%);
      border-radius: 20px;
      padding: 40px;

      &__form {
        display: flex;
        flex-direction: column;
      }

      &__save-button {
        margin-top: 13px;
        background-color: #ffffff;
        color: orange;
        font-size: 20px;
        font-weight: bold;
        border-radius: 25px;
        padding: 15px 50px;
        border: solid 1px orange;
        cursor: pointer;
      }

      &__save-button:hover {
        background-color: orange;
        color: white;
      }

      &__separator {
        display: flex;
        gap: 20px;
      }

      &__address-separator {
        display: flex;
        flex-direction: column;
      }

      &__title {
        color: black;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      &__line {
        border: solid 1px rgb(0, 0, 0, 30%);
        margin-bottom: 40px;
      }

      &__input {
        background-color: transparent;
        border: solid 1px rgb(0, 0, 0, 50%);
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
        color: black;
      }
    }

    &__info {
      border: solid 1px rgb(0, 0, 0, 50%);
      border-radius: 20px;
      padding: 25px;

      &__title {
        color: black;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      &__line {
        border: solid 1px rgb(0, 0, 0, 30%);
        margin: 15px 0;
      }

      &__total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &__sticker {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: rgb(252, 198, 111, 70%);
        padding: 15px;

        &__title {
          font-size: 20px;
          font-weight: bold;
          line-height: 26px;
          color: #191d81;
        }
      }

      &__information-text {
        padding: 10px;
      }

      &__order-button {
        background-color: orange;
        width: 100%;
        font-size: 25px;
        border-radius: 25px;
        padding: 15px;
        color: white;
        border: none;
      }

      &__order-button:hover {
        background-color: rgb(255, 180, 40);
        cursor: pointer;
      }
    }
  }
}

.line {
  border: solid 1px rgb(0, 0, 0, 30%);
  margin: 15px 0;
}
