.search-container_button {
  margin-top: 50px;
  padding: 10px 90px;
  border: solid 1px orange;
  background-color: transparent;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.search-container_button:hover {
  background-color: orange;
}
